{
  "presets": [
    [
      "@babel/preset-env",
      {
          "targets": {
              "ie": "11"
          },
          "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "@babel/transform-arrow-functions",
    "@babel/transform-modules-commonjs",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "development": {},
    "test": {},
    "production": {}
  }
}