.sermone-container {
  margin: 0 auto;
  max-width: calc(100% - 40px);
}

.sermone-seperate {
  display: inline-block;
  width: 100%;
  border-bottom: solid 1px #eee;
  margin-bottom: 15px;
}

.sermone-button {
  border-radius: 1px;
  padding: 16px 20px;
  width: 200px;
  background: black;
  text-decoration: none;
  color: white;
  border-color: black;

  &.__button-submit {

  }
}

.tippy-box[data-theme~='sermone'] {

  .tippy-content {
    color: white;
    font-size: 12px;
  }
}